html{
    display: block;
    margin: 0 auto;
    padding: 0;
    background-color: #aaaaaa;
}

.linhas{
    display: flex;
    width: 200px;
    height: 200px;
    border: black;
    border-radius: 50px;
    border-style: solid;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

section, h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.imagemX{
    /*width: 80%;
    height: 80%;*/
    background-color: transparent;
}

.marcadoX, .imagemX:hover{
    background-image: url("imagens/Xconcertado.png") ;
    background-repeat: no-repeat;
    background-position: center;
}

.imagemO{
    background-color: transparent;
}

.marcadoO, .imagemO:hover{
    background-image: url("imagens/Oconsertado.png") ;
    background-repeat: no-repeat;
    background-position: center;
}

