html{
    display: block;
    margin: 0 auto;
    padding: 0;
    background-color: #aaaaaa;
}

.linhas{
    display: flex;
    background-color: blue;
    width: 200px;
    height: 200px;
    border: black;
    border-radius: 50px;
    border-style: solid;
}

section, h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.centraliza{
    display: grid;
    margin: 0 auto;
    padding: 0;
}